<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Diogenes' Rage</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/images/favicon.png" />
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/css/main.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
  </head>
  <body>
    <div id="daboxwrapper">
      <div id="bat-box">
        <marquee direction="right">
          <img id="bat" src="/static/images/bat.gif" class="floating">
        </marquee>
      </div>
      <div id="sky"></div>
      <div id="walls"></div>
      <img id="cat" src="/static/images/meow.gif">
      <div id="dabox">
        <div id="vending-wrapper">
          <div id="vinside-wrap1">
            <div id="advert-panel-absolute">
              <div class="relative">
                <p id="advert">HTB <br>Coupons <br>Accepted! </p>
              </div>
            </div>
            <div id="right-panel-absolute">
              <div id="right-panel-container" class="relative">
                <div id="screen">
                  <span id="screen-txt"></span>
                </div>
                <div id="buttons-container-absolute">
                  <div class="btn-row">
                    <div class="vending-btns">A</div>
                    <div class="vending-btns">B</div>
                    <div class="vending-btns">C</div>
                  </div>
                  <div class="btn-row">
                    <div class="vending-btns">1</div>
                    <div class="vending-btns">2</div>
                    <div class="vending-btns">3</div>
                  </div>
                  <div class="btn-row">
                    <div class="vending-btns">4</div>
                    <div class="vending-btns">5</div>
                    <div class="vending-btns">6</div>
                  </div>
                  <div class="btn-row">
                    <div class="vending-btns">7</div>
                    <div class="vending-btns">8</div>
                    <div class="vending-btns">9</div>
                  </div>
                </div>
                <div id="reset-btn-absolute"></div>
                <div id="coin-panel-absolute">
                  <div class="relative">
                    <div id="coin-in-area">
                      <div class="relative">
                        <div id="coin-slot"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div id="snacks-panel-absolute">
              <div class="relative">
                <div id="top-snack-price-container">
                  <div class="snack-price-bar pr1">
                    <p>$0.55</p>
                    <p>$0.35</p>
                    <p>$0.25</p>
                  </div>
                  <div class="snack-price-bar pr2">
                    <p>$0.45</p>
                    <p>$0.15</p>
                    <p>$0.80</p>
                  </div>
                  <div class="snack-price-bar pr3">
                    <p>$0.35</p>
                    <p>$13.37</p>
                    <p>$0.69</p>
                  </div>
                </div>
                <div class="snacks-r1">
                  <div class="snack">
                    <img src="/static/images/clam-chowder.png" id="A1" alt="Clam Chowder">
                  </div>
                  <div class="snack">
                    <img src="/static/images/motor-oil.png" id="A2" alt="Motor Oil">
                  </div>
                  <div class="snack">
                    <img src="/static/images/marlboro.png" id="A3" alt="Marlboro Cigarette">
                  </div>
                </div>
                <div class="snacks-r2">
                  <div class="snack">
                    <img src="/static/images/starbucks.png" id="B4" alt="Starbucks Coffee">
                  </div>
                  <div class="snack">
                    <img src="/static/images/ikea-catalog.png" id="B5" alt="Ikea Catalogue">
                  </div>
                  <div class="snack">
                    <img src="/static/images/vet-medicine.png" id="B6" alt="Vet Medicine">
                  </div>
                </div>
                <div class="snacks-r3">
                  <div class="snack">
                    <img src="/static/images/vinegar.png" id="C7" alt="Vinegar">
                  </div>
                  <div class="snack">
                    <img src="/static/images/soap.png" id="C8" alt="We do not talk about it">
                  </div>
                  <div class="snack">
                    <img src="/static/images/film-reel.png" id="C9" alt="Film Reel">
                  </div>
                </div>
                <div id="bottom-snack-label-container">
                  <div class="snack-row-bar r1">
                    <p>A1</p>
                    <p>A2</p>
                    <p>A3</p>
                  </div>
                  <div class="snack-row-bar r2">
                    <p>B4</p>
                    <p>B5</p>
                    <p>B6</p>
                  </div>
                  <div class="snack-row-bar r3">
                    <p>C7</p>
                    <p>C8</p>
                    <p>C9</p>
                  </div>
                </div>
              </div>
            </div>
            <div id="bottom-panel-absolute">
              <div class="relative">
                <div id="bottom-panel-flicker"></div>
                <img id="receivable-item">
              </div>
            </div>
          </div>
        </div>
      </div>
      <img id="narrator" src="/static/images/rayhan.gif">
      <img id="coupon" src="/static/images/coupon.png" class="floating">
    </div>
    <div id="pavement"></div>
    <div id="afterdabox"></div>
  </body>
  <script src="/static/js/jquery-3.6.0.min.js"></script>
  <script src="/static/js/jquery.marquee.min.js"></script>
  <script src="/static/js/jquery-ui.js"></script>
  <script src="/static/js/main.js"></script>
</html>