<!DOCTYPE html>
<html>
<head>
  <meta name='author' content='makelaris, makelarisjr'>
  <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>
  <title>inside starship enterprise</title>
  <link rel='stylesheet' href='/static/css/main.css' />
  <link rel='icon' href='/static/images/favicon.png' />
</head>
<body>
  <div class='content'>
    <h1 style='text-transform: uppercase;font-size: 50px;'>Welcome to the grade portal!</h1>
    <form id='form' action='/' method='POST'>
      <label>
        <input type='radio' name='name' value='Kenny Baker' checked>
        <span>
          <h1 style='letter-spacing: -5px;'>Kenny Baker</h1>
        </span>
      </label>
      <label>
        <input type='radio' name='name' value='Jack Purvis'>
        <span>
          <h1 style='letter-spacing: -5px;'>Jack Purvis</h1>
        </span>
      </label>
    </form>
    <button type='submit' form='form' class='button button-retro is-error'>Did I pass?</button>
    <p id='output'></p>
  </div>
  <canvas id='galaxy'></canvas>
  <script src='/static/js/main.js' type='text/javascript'></script>
  <script src='/static/js/koulis.js' type='text/javascript'></script>
</body>
</html>